<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>View</title>
</head>
<body>
<div th:each="dealer : ${listDealer}">
	<h3 th:text="'Alamat : ' + ${dealer.alamat}"></h3>
	<h3 th:text="'Telfon : ' + ${dealer.noTelp}"></h3>
	<table>
	<thead>
		<tr>
			<td>Brand</td>
			<td>Type</td>
			<td>Price</td>
			<td>Amount</td>
		</tr>
	<thead/>
	<tbody>
		<div th:each="car : ${dealer.listCar}">
			<tr>
				<td th:text="${car.brand}"></td>
				<td th:text="${car.type}"></td>
				<td th:text="${car.price}"></td>
				<td th:text="${car.amount}"></td>
			</tr>
		</div>
	</tbody>
	</table>
</div>
</body>
</html>